
// Body
$body-bg: #d2e1ff;
$card-header: #ffc600;
$card-bg: #dedede;
$btn-bg: #3e4ab8;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
