
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container{
	margin-top: 6%;
	margin-bottom: 10%;
}

.accordion{
	padding: 5px;
	background-color: $white;
	border-radius: 8px;
}

.accordion .card{
	border: none;
	background-color: $card-bg;
}

.accordion .card:not(:first-of-type){
	margin-top: 5px;
}

.accordion .card:first-of-type, .accordion .card:not(:first-of-type):not(:last-of-type), .accordion .card:last-of-type{
	border-radius: 8px;
}

.accordion .card-header{
	background-color: $card-header;
	border: none;
}

.accordion .card-header:first-child{
	border-radius: 8px;
}

.accordion .card:not(:first-of-type) .card-header:first-child{
	border-radius: 8px;
}

.btn-link{
	color: $white;
}

.btn-link:hover, .btn-link:focus{
	text-decoration: none;
	color: $white;
}

label{
	font-weight: bold;
}
input.form-control, select.form-control{
	border-radius: 10px;
}
input.has-error, select.has-error{
	border: 1px solid red;
}
button.next{
	background-color: $btn-bg;
	color: $white;
	border-radius: 10px;
	width: 150px;
}
button.next[type="submit"]{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.form-row{
	flex-wrap: inherit;
}
span.help-block{
	color: $red;
	padding-left: 10px;
}
span.d-block:last-of-type{
	margin-bottom: 10px;
}